*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 20, 121);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 700px;
    background-color: rgb(3, 3, 170);
    margin: 0 auto;
    text-align: center;
}

.number-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    background-color: lightskyblue;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.fizz{
    background-color: orange;
}

.buzz{
    background-color: yellow;
}

.buzzfizz{
    background-color: red;
    animation: color 2s  infinite 
}

@keyframes color{
    25% {
        background-color: orange;
    }

    40%{
        background-color: yellow;
    }
    
    55%{
        background-color: greenyellow;
    }

    70%{
        background-color: blue;
    }

    85%{
        background-color: violet;
    }
    
}